* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  background-image: url("images/backgr.jpg");
  font-family: "Nanum Pen Script", cursive;
}

.app {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.about {
  position: relative;
}

.touch-me {
  position: absolute;
  top: -90px;
  left: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.touch-me .text {
  color: white;
  font-size: 40px;
}

@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

.pulse {
  animation: 1s infinite pulse;
}

.arrow {
  width: 30px;
  height: 30px;
  fill: white;
  transform: scale(-1, 1) rotate(-25deg);
}

.polaroid {
  position: relative;
  width: 300px;
}

.polaroid .my-photo {
  border: 10px solid white;
  border-bottom: 45px solid white;
  width: 100%;
  transform: rotate(-8deg);
  box-shadow: -2px 2px 6px -1px rgba(0, 0, 0, 0.5);
}

.polaroid .telegram-link {
  position: absolute;
  width: 100%;
  bottom: 0;
  color: #99a79a;
  left: 60%;
  transform: rotate(-8deg) translate(-50%, -150%);
  z-index: 1;
  font-size: 20px;
}

.music-player {
  width: auto;
  display: inline-block;
  position: absolute;
  top: -5px;
  left: 50%;
  z-index: 1;
}

.music-player .img-play {
  width: 70px;
  cursor: pointer;
}

.music-player .img-play:active {
  transform: scale(0.9);
}

.music-player .img-pause {
  transform: scale(0.9);
}

.tg-text {
  margin: 0 auto;
  width: 202px;
  visibility: hidden;
  letter-spacing: 2px;
  white-space: nowrap;
}

.tg-text a {
  color: black;
  text-decoration: none;
}

.telegram-active {
  visibility: visible;
  white-space: nowrap;
  overflow: hidden;
  animation: type 4s steps(23, end);
}

@keyframes type {
  from {
    width: 0;
  }
}
